
/*
https://simeydotme.github.io/jQuery-ui-Slider-Pips/
https://codepen.io/thehonestape/pen/yjlGi

*/
widgetHeight = 60px
borderWidth = 2px
numberAreaWidth = 120px
//latencyCurve = cubic-bezier(1,.0,.8,.5) 0s
latencyCurve = ease-out 0s
invertedLatencyCurve = ease-out .2s
recoverableSizeRatio = 0.3

appearance(value)
  -webkit-appearance value
  -moz-appearance value
  appearance value

user-select(value)
  -moz-user-select -moz-none
  -khtml-user-select value
  -webkit-user-select value
  user-select value

popdown(arrowSize, partentHeight)
  display block
  position absolute
  top (partentHeight+arrowSize)
  padding 2px 4px
  background white
  box-shadow rgba(0, 0, 0, 0.05) 0 1px 1px 0, rgba(0, 0, 0, 0.05) 0 4px 8px 4px
  z-index 5
  &::before
    content ""
    border-bottom: arrowSize solid white;
    border-left: arrowSize solid transparent;
    border-right: arrowSize solid transparent;
    position absolute
    top - arrowSize
    left 50%
    margin-left ( - arrowSize / 2)
  &::after
    content ""
    position absolute
    top - arrowSize
    left 0
    right 0
    height arrowSize
popright(arrowSize, partentWidth)
  display block
  position absolute
  left (partentWidth+arrowSize)
  text-align left
  padding 2px 4px
  background white
  box-shadow rgba(0, 0, 0, 0.05) 0 1px 1px 0, rgba(0, 0, 0, 0.05) 0 4px 8px 4px
  z-index 5
  &::before
    content ""
    border-right: arrowSize solid white;
    border-top: arrowSize solid transparent;
    border-bottom: arrowSize solid transparent;
    position absolute
    left - arrowSize
    top 50%
    margin-top ( - arrowSize / 2)
  &::after
    content ""
    position absolute
    left - 2*arrowSize
    top 0
    bottom 0
    width 2*arrowSize

.rangeSlider
  &, *
    padding 0
    margin 0
    border 0
    box-sizing border-box

  position relative
  //transform-origin top left
  height widgetHeight
  flex 1 0 100%
  order 1
  &
    margin borderWidth
  background #f7f7f7
  box-shadow rgba(0, 0, 0, 0.05) 0 1px 1px 0, rgba(0, 0, 0, 0.05) 0 4px 8px 4px;
  transition height .4s, transform 1s
  &.required.readonly
    background #E8E8E8
  &.removed
    background transparent
    box-shadow none
    transform scale(2)
    opacity 0
    height (widgetHeight*recoverableSizeRatio)
  &.recoverable
    background white
    border-radius (widgetHeight*recoverableSizeRatio/3)
    flex 1 0 (widgetHeight*recoverableSizeRatio*5)
    max-width (widgetHeight*recoverableSizeRatio*5)
    order 0
    height (widgetHeight*recoverableSizeRatio)
    z-index 5
    >*
      display none
    &:hover > label
      left (- widgetHeight*recoverableSizeRatio)
      right (- widgetHeight*recoverableSizeRatio)
      popdown(5px, widgetHeight*recoverableSizeRatio)
      >*
        display none
      >.title
        display block
        text-align center
    .action
      z-index 2
      display block

      &:hover
        .picto, .recover
          color #090
      svg
        display block
        circle
          display block
          animation removeCircle 30s linear
      &, & .picto, & .recover
        width (widgetHeight*recoverableSizeRatio)
        height (widgetHeight*recoverableSizeRatio)
        line-height (widgetHeight*recoverableSizeRatio)
        font-size (widgetHeight*recoverableSizeRatio*.7)
      .picto
        display block
        color rgba(0,0,0,.3)
        opacity 1
        z-index 3
      .recover
        display block
        position absolute
        width auto
        left (widgetHeight*recoverableSizeRatio)
        padding-left (widgetHeight*recoverableSizeRatio/4)
        color rgba(0,0,0,.3)
        font-family sans-serif

  label
    position absolute
    left (widgetHeight + 2px)
    top 4px
    display flex
    .title
      display inline-block
      margin-right 4px
    .about
      display inline-block
      position relative
      order 9
      margin 0 4px
      border-radius 100%
      width (widgetHeight/3)
      height @width
      line-height @width
      text-align center
      font-weight bold
      box-shadow rgba(0, 0, 0, 0.05) 0 1px 1px 0, rgba(0, 0, 0, 0.05) 0 4px 8px 4px;
      background alpha(#fff,.6)
      color alpha(#000,.6)
      z-index 2
      cursor pointer
      &:active
        transform scale(1.1)
      .description
        display none
      &:hover .description, &.show .description
        popright(5px, widgetHeight/3)
        &::before
          top ((4px+widgetHeight/3)/2)
        top -4px
        line-height initial
        min-height widgetHeight

      // display as title popup
  ^[0].readonly label
    top 0
    line-height widgetHeight
    .about
      top (widgetHeight/2 - (widgetHeight/3)/2 + 4px/2)
      .description
        top (- (widgetHeight/2 - (widgetHeight/3)/2 + 4px/2))
        &::before
          top 50%
  .key
    opacity .5
  a
    text-decoration none
    color grey
    position relative
    z-index 1
    &:hover
     text-decoration underline dotted rgba(0,0,0,.3)

  .action, .picto
    position absolute
    user-select none
    display block
    text-align center
    width widgetHeight
    height widgetHeight
    line-height widgetHeight
    font-size widgetHeight*0.75
    font-weight bold
    cursor pointer
    color #000
    .picto
      opacity .08
      z-index 1
    svg
      position absolute
      transform rotate(90deg) scale(-1,1)
      top 0
      left 0
      right 0
      bottom 0
      display none
      circle
        fill none
        stroke rgba(0,0,0,.3)
        stroke-dasharray: (4*2*3.14), 100;
    .recover
      display none


    &.locked:hover
        background transparent
        box-shadow none
    &.locked .picto
      opacity 0
      cursor default
      font-size widgetHeight*0.5
      transition opacity 2s
      &:hover
        background transparent
        opacity 0.3
      &:active
        animation shake 0.82s cubic-bezier(.36,.07,.19,.97) both

    &:hover
      background rgba(100%,100%,100%,.4)
      opacity 1
      color #C00
  .slider
    //width 'calc(100% - %s)' % (numberAreaWidth + widgetHeight + widgetHeight/2 + 25px)
    right (numberAreaWidth + widgetHeight/2 + 23px)
    position absolute
    left (widgetHeight+2px)
    top 0
    height widgetHeight
    ^[0].never0 .slider
      left @left+20px
      //width 'calc(100% - %s)' % (numberAreaWidth + widgetHeight + widgetHeight/2 + 45px)
    >.rangeBase
      position absolute
      left 0
      ^[0].never0 .slider>.rangeBase
        left -20px
      right 0
      top (widgetHeight/2)
      height 2px
      background rgba(0,0,0,.05)
      transition background 1s latencyCurve
    &:hover>.rangeBase
      transition background 1s invertedLatencyCurve
      background rgba(0,0,0,.2)
    &:hover .border
      border-color rgba(0,0,0,.2)
  .border
    transition border-color 1s

  .rangeProgress
    position absolute
    left 0
    top (widgetHeight/2)
    box-sizing content-box
    //transition width .2s

    ^[0].notNull .rangeProgress,
    ^[0].never0 .rangeProgress
      margin-left -20px
      padding-left 20px
    &.poorest
      background rgb(90%,30%,20%)
      height 3px
      top (@top - 1)
    &.poor
      background rgb(80%,40%,20%)
      height 5px
      top (@top - 2)
    &.medium
      background rgb(80%,67%,20%)
      height 7px
      top (@top - 3)
    &.generous
      background rgb(50%,80%,20%)
      height 9px
      top (@top - 4)
    &.rich
      background rgb(30%,86%,20%)
      height 11px
      top (@top - 5)
    &.max
      background rgb(20%,90%,10%)
      height 13px
      top (@top - 6)

  .markers
    position absolute
    left 0
    right 0
    top (widgetHeight/2+2px)

  .markers>*
    padding 6px
    padding-top 3px
    padding-bottom 0
    position absolute
    color rgba(0,0,0,0)
    transition color 1s latencyCurve,border 1s latencyCurve
    ^[0]:hover .markers>*
      transition color .1s invertedLatencyCurve, border .1s invertedLatencyCurve
      color rgba(0,0,0,1)
    .unit
      font-size 80%
      opacity .5
    top 0
  .left
    padding-left 4px
    &.border
      border-left 2px solid rgba(0,0,0,.05)
  .right
    padding-right 4px
    &.border
      border-right 2px solid rgba(0,0,0,.05)
  .rangeCursorArea
    position absolute
    //transition left .2s
    user-select none
    top (widgetHeight/2)
    cursor pointer
    margin (-(widgetHeight/3*0.7 + (widgetHeight/4+1px)/2 )) (-(widgetHeight/3*0.7 + widgetHeight/4+borderWidth*2))
    padding (widgetHeight/3*0.7)
    .rangeCursor
      position relative
      display block
      line-height (widgetHeight/4)
      height (widgetHeight/4+borderWidth*2)
      font-size (widgetHeight/4)
      background rgba(0,0,0,0.1)
      //border borderWidth solid black
      border-radius 100%
      padding 0 2px
    &:hover .rangeCursor
      background rgba(100%,100%,100%,0.3)

  .inputArea
    width (numberAreaWidth + widgetHeight / 2)
    height widgetHeight
    position absolute
    top 0
    right 0

    &::before
      content ' '
      width 20px
      height 100%
      position absolute
      top 0
      left - @width
      background linear-gradient(to left , alpha(black,0.05),alpha(black,0));

  input
    width numberAreaWidth
    height widgetHeight
    //appearance textfield
    text-align right
    font-size 15pt
    padding-right 35px
    position absolute
    top 0
    right (widgetHeight / 2 - borderWidth/2)
    line-height (widgetHeight - 2*borderWidth)
    background white //rgba(100%,100%,100%,0.2)
    //box-shadow inset 0 0 (widgetHeight / 2 - 2*borderWidth) rgba(0,0,0,.2)
    //border borderWidth solid rgba(0,0,0,.2)
    ^[0].required.readonly input
      width (@width + widgetHeight/2)
      padding-right (@padding-right + widgetHeight/2)
      right 0
      background rgba(100%,100%,100%,0.2)

  .inputArea .unit
    position absolute
    right (widgetHeight / 2 + 5px + borderWidth/2)
    font-size 13pt
    top 1px
    line-height widgetHeight
    color rgba(0,0,0,.5)
    font-weight bold
    ^[0].percent .unit
      right (widgetHeight / 2 + 11px + borderWidth/2)

  .button
    position absolute
    right 0
    width (widgetHeight / 2 - borderWidth/2)
    height (widgetHeight / 2+borderWidth/2)
    line-height (widgetHeight / 2 - 2*borderWidth)
    text-align center
    background rgba(0,0,0,0.05)
    //border borderWidth solid rgba(0,0,0,.2)
    border-left 0
    cursor pointer
    user-select none
    font-size ((widgetHeight / 2 - borderWidth/2)*0.75)
    font-weight bold
    box-shadow rgba(0, 0, 0, 0.05) 0 1px 1px 0, rgba(0, 0, 0, 0.05) 0 4px 8px 4px;

    &:hover
      background rgba(100%,100%,100%,.4)
      box-shadow rgba(0, 0, 0, 0.1) 0 1px 1px 0, rgba(0, 0, 0, 0.1) 0 4px 8px 4px;
      z-index 1
  .more
    top 0
  .less
    bottom 0
    border-top 0
    height (widgetHeight / 2 - borderWidth/2)
@keyframes removeCircle
  to
    stroke-dasharray 0,100
@keyframes shake
  10%, 90%
    transform: translate3d(-1px, 0, 0);
  20%, 80%
    transform: translate3d(2px, 0, 0);
  30%, 50%, 70%
    transform: translate3d(-4px, 0, 0);
  40%, 60%
    transform: translate3d(4px, 0, 0);
